<app-servicio-crear *ngIf="dialog" [cita_id]="id" ></app-servicio-crear>
<app-servicio-actualizar *ngIf="dialogact" [servicio]="servicioupdate" ></app-servicio-actualizar>

<br/>
<h2 class="row justify-content-center">Servicios</h2>
<br/>

<div  style="margin-top:10px;">
  <div class="row mx-1 mb-4">
      <div class="col-md-4  ">
          <a *ngIf="autenticar.isAdminLoggedIn()" class="btn btn-outline-success pull-right"  (click)="dialog=true" >
              <i class="material-icons small">add</i>
            Crear</a>
       </div>
</div>

<div class="table-responsive-md mx-3">
  <table class="table" >
    <thead class="thead-dark">
      <tr> 
        <th scope="col">Id</th>
        <th scope="col">Descripcion</th>
        <th scope="col">Costo</th>
        <th scope="col">Vehiculo</th>
        <th scope="col">Acción</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let servicio of servicios">
        <td scope ="row">{{servicio.cod_servicio}}</td>
          <td>{{servicio.descripcion}}</td>
          <td>{{servicio.cost_serv}}</td>
          <td>{{servicio.cita_Id.cod_vehiculo.numero_placa}}</td>
        <td>
          <button type="button" class="btn btn-warning mr-4" (click)="openact(servicio)" >
                <i class="material-icons small">border_color</i>
          </button>
          <button type="button" class="btn btn-danger" (click)= "eliminar(servicio.cod_servicio)" >
            <i class="material-icons small">close</i>
          </button>
          
        </td>
      </tr>
    </tbody>
    
  </table>
</div>
</div>