<br/>
<h2 class="row justify-content-center">Registro de Servicio</h2>
<br/>
<div class="col-lg-12" style="margin-top:2px;">
  <form (ngSubmit)="registrarServicio()" >
    <div class="form-group col-md-5">
      <label for="nombre">Nombre :</label>
      <input type="text" class="form-control" id="nombre" name="nombre" 
      placeholder="Ingrese nombre" required [(ngModel)]="servicio.nombre">
    </div>
    <div class="form-group col-md-5">
       <label for="descripcion">Descripcion :</label>
       <textarea class="form-control" rows="3" id="descripcion" 
       name="descripcion" placeholder="Ingrese descripcion"
       required [(ngModel)]="servicio.descripcion"></textarea>
    </div>
    <div class="form-group col-md-5">
        <label for="cost_serv">Costo Total :</label>
         <input type="text" class="form-control" id="cost_serv" 
       name="cost_serv" 
       required [(ngModel)]="servicio.cost_serv">
     </div>
     <div class="form-group col-md-5">
      <label for="Cita_Id">Cita :</label>
      <select class="custom-select" id="Cita_Id" name="Cita_Id" [(ngModel)]="servicio.Cita_Id" >
          <option *ngFor="let cita of citas" [ngValue]="cita">
              {{cita.id}}</option>
      </select>
      </div>
      <div class="btn-group col-md-2 col-xs-6" >
        <button type="submit" class="btn btn-dark ">Guardar</button>
      </div>
  </form>
</div>
