<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <img width="80" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
  <h1>
    {{ title }}!
  </h1>
</div>
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" routerLink="listar">Listar Cliente</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="nuevo">Nuevo Cliente</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="vehiculo/nuevo">Nuevo Vehiculo</a>
  </li>
   <li class="nav-item">
    <a class="nav-link" routerLink="vehiculo/listar">Listar Vehiculo</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="servicio/listar">Listar Servicio</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="servicio/nuevo">Nuevo Servicio</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="servicio/buscar">Buscar Servicio</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="cita/nuevo">Nueva cita</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="cita/listar">Listar Cita</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="repuestos/nuevo">Crear Repuesto</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="repuestos/listar">Listar Repuesto</a>
  </li>
  <li class="nav-item">
      <a class="nav-link" routerLink="detalleServ/nuevo">Crear detalleServ</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="detalleServ/listar">Listar detalleServ</a>
    </li>
</ul>
<router-outlet></router-outlet>
