<br/>
<h2 class="row justify-content-center">Vehículos</h2>
<br/>

<div  style="margin-top:10px;">
  <div class="row mx-1 mb-4">
      <div class="col-md-4  ">
          <a class="btn btn-outline-success pull-right"  routerLink="/vehiculo/nuevo" >
              <i class="material-icons small">add</i>
            Crear</a>
       </div>
  <div class="input-group col-md-4 offset-md-4">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">Vehiculo</span>
    </div>
    <input type="text" class="form-control" placeholder="Ingrese Placa" aria-label="Vehiculo" aria-describedby="basic-addon1"
    (keyup)=Buscar() [(ngModel)]="vehselect">
  </div>
  
</div>

<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Placa</th>
        <th scope="col">Ano</th>
        <th scope="col">Serie Motor</th>
        <th scope="col">Tipo Vehiculo</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let vehiculo of vehiculos">
        <th scope="row">{{vehiculo.id}}</th>
        <td>{{vehiculo.numero_placa}}</td>
        <td>{{vehiculo.ano}}</td>
        <td>{{vehiculo.numero_serie_motor}}</td>
        <td>{{vehiculo.tipo_vehiculo}}</td>
      </tr>
    </tbody>
  </table>